<template>
  <div>
    <account-container
      title="ข้อมูลการจ้างงาน"
      :action-title="(myEmployment && Object.keys(myEmployment).length !== 0) ? 'แก้ไข' : ''"
      action-link="/account/employment/edit"
    >
      <div v-if="myEmployment && Object.keys(myEmployment).length !== 0" class="account-content-wrapper">
        <div class="content-detail-wrapper">
          <a-row>
            <a-col :span="12">
              <div class="item">
                <span class="title">ชื่อ : </span>
                <span class="detail">{{ firstName }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">นามสกุล : </span>
                <span class="detail">{{ lastName }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">ประเภทงาน : </span>
                <span class="detail">{{ employmentType }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">เพิ่มเติม : </span>
                <span class="detail">{{ myEmployment.detail || '-' }}</span>
              </div>
            </a-col>
            <a-col :span="12">
              <div class="item">
                <span class="title">จำนวนครงาน : </span>
                <span class="detail">{{ myEmployment.numWokers || '-' }}</span>
              </div>
            </a-col>
          </a-row>
          <a-row :style="{marginTop: '20px'}">
            <a-col :span="24">
              <div>รูป</div>
              <div v-if="mediaPath" class="mock-img small">
                <img :src="mediaPath">
              </div>
              <div v-else class="not-img">
                ไม่มีรูป
              </div>
            </a-col>
          </a-row>
        </div>
        <!-- <div class="bank-account-wrapper">
          <div class="title-wrapper">
            <span class="title">รายชื่อสมาชิก</span>
          </div>
          <div class="content-detail-wrapper">
            <div class="item">
              <p class="paragraph">นายขำมิน อยู่สุข</p>
              <p class="paragraph">นายขำมิน อยู่สุข</p>
              <p class="paragraph">นายขำมิน อยู่สุข</p>
              <p class="paragraph">นายขำมิน อยู่สุข</p>
            </div>
          </div>
        </div> -->
        <div class="bank-account-wrapper">
          <div class="title-wrapper">
            <span class="title">ที่ตั้ง</span>
          </div>
          <div class="content-detail-wrapper">
            <div class="item">
              <span class="detail">{{ `${myEmployment.addressDetail || ''}` + " " + `${myEmployment.road || ''}` }}</span>
            </div>
            <div class="item">
              <span class="title">แขวง/ตำบล : </span>
              <span class="detail">{{ myEmployment.subDistricts && myEmployment.subDistricts.th || '-' }}</span>
            </div>
            <div class="item">
              <span class="title">เขต/อำเภอ : </span>
              <span class="detail">{{ myEmployment.districts && myEmployment.districts.th || '-' }}</span>
            </div>
            <div class="item">
              <span class="title">จังหวัด : </span>
              <span class="detail">{{ myEmployment.province && myEmployment.province.th || '-' }}</span>
            </div>
            <div class="item">
              <span class="title">รหัสไปรษณีย์ : </span>
              <span class="detail">{{ myEmployment.postalCode || '-' }}</span>
            </div>
          </div>
        </div>
      </div>
      <div v-else style="margin-top: 20px; text-align: center;">
        <div class="add-address-wrapper">
          <span class="no-address-text">คุณยังไม่มีข้อมูลการจ้างงาน</span>
          <nuxt-link to="/account/employment/add">
            <span class="add-first-address-text">กดที่นี่เพื่อเพิ่มการจ้างงานของคุณ</span>
          </nuxt-link>
        </div>
      </div>
    </account-container>
  </div>
</template>
<script>
import { get } from 'vuex-pathify'
import AccountContainer from '~/components/account/AccountContainer.vue'
// const DEFAULT_MEDIA = require('~/assets/images/corn.jpg')
export default {
  components: {
    AccountContainer
  },
  layout: 'account',
  async fetch ({ store }) {
    try {
      await store.dispatch('employment/fetchMyEmployment')
    } catch (err) {

    }
  },
  computed: {
    ...get('employment', {
      myEmployment: 'myEmployment'
    }),
    firstName () {
      console.log('test', this.myEmployment)
      if (!this.myEmployment || !this.myEmployment.name) {
        return '-'
      }
      return this.myEmployment.name.split(' ')[0] || ''
    },
    lastName () {
      if (!this.myEmployment || !this.myEmployment.name) {
        return '-'
      }
      return this.myEmployment.name.split(' ')[1] || ''
    },
    mediaPath () {
      return this.myEmployment.thumbnailUrl || ''
    },
    employmentType () {
      if (this.myEmployment.employmentType === 'HARVEST') {
        return 'เก็บเกี่ยว'
      } else if (this.myEmployment.employmentType === 'CUT') {
        return 'ตัด'
      } else {
        return '-'
      }
    }
  }
}
</script>

<style lang="less" scoped>
.content-detail-wrapper {
  padding: 20px 0;
  @media only screen and (min-width: 992px) {
    padding: 20px 45px;
  }
  .item {
    padding: 5px 0;
    color: #424242;
    font-size: 1.6rem;
    font-weight: 300;
    .paragraph {
      text-align: left;
      font-weight: 400;
    }
  }
  .detail {
    font-weight: 500;
    &.green {
      color: #43be39
    }
  }
}
.title-wrapper {
  border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  .title {
    color: #424242;
    font-size: 1.6rem;
    font-weight: 500
  }
}

.mock-img {
  background: #424242;
  &.small {
    margin-top: 10px;
    height: 93px;
    width: 93px;
  }
  img {
    width: 93px;
    height: 93px;
  }
}
.not-img {
  font-size: 1.4rem;
  margin-top: 12px;
  color: #dadada
}
.add-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0px;
  .no-address-text {
    color: #424242;
    font-size: 2.2rem;
    font-weight: 500;
  }
  a {
    margin-top: 22px;
    .add-first-address-text {
      color: #ff9300;
      font-size: 2.2rem;
      font-weight: 500;
    }
  }
}
</style>
