<template>
  <div id="basePage">
    <base-header
      :mobileSidebarVisible="mobileSidebarVisible"
      @setSidebarVisible="onSetSidebarVisible"
    ></base-header>
    <slot></slot>
    <base-footer></base-footer>
  </div>
</template>

<script>
import BaseHeader from './base-header'
import BaseFooter from './base-footer'
export default {
  props: {
    mobileSidebarVisible: Boolean
  },
  components: {
    BaseHeader,
    BaseFooter
  },
  methods: {
    onSetSidebarVisible (value) {
      this.$emit('setSidebarVisible', value)
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
