<template>
  <div id="sponsorsSection">
    <base-container>
      <!-- <div class="row">
        <div class="column">
          <h1>ผู้สนับสนุน</h1>
        </div>
      </div> -->
      <!-- <div>
        <a-row type="flex" justify="center" style="margin-top: 50px;">
          <a-col
            :span="6"
            :xs="24"
            :md="6"
          >
            <img src="../../assets/images/doae_logo.jpg">
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
          >
            <img src="../../assets/images/moac_logo.jpg">
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
          >
            <img src="../../assets/images/dbd_logo.jpg">
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
          >
            <img src="../../assets/images/ku_logo.png">
          </a-col>
        </a-row>
      </div> -->
    </base-container>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
img {
  object-fit: contain;
  width: 100%;
  height: 100px;
}
.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
